%td.actions
  = link_to 'Show', object, :class => 'button-small show'
  = link_to 'Edit', edit_path, :class => 'button-small edit'
  = link_to 'Destroy', object, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'button-small delete'
