%h1 Frames

%table
  %tr
    %th Name
    %th Brand
    %th.actions

  - @frames.each do |frame|
    %tr
      %td= frame.name
      %td= frame.brand.name if frame.brand
      = render 'shared/index_row_buttons', object: frame

%br

= link_to 'New Frame', new_frame_path, :class => 'button'
